<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.nikhilr129.forgetitnot">
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyD8Z6808bzFh-mKPuEUlCbE2YK7t4GYbYg" />

        <!-- Splash screen -->
        <activity android:name=".splash.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Main activity -->
        <activity
            android:name=".main.MainActivity"
            android:label="@string/app_name" />

        <!-- App Intro Activity -->
        <activity android:name=".Intro.MainIntroActivity" />
        <!-- Event Selection Activity -->
        <activity android:name=".event.EventSelection" />
        <!-- Condition Selection Activity -->
        <activity android:name=".condition.ConditionSelection" />
        <!-- Action Selection Activity -->
        <activity android:name=".action.ActionSelection" />
        <activity android:name=".Helpers.TimePickerActivity" />
        <activity android:name=".Helpers.ContactPickerActivity" />
        <activity android:name=".Helpers.LocationPickerActivity"></activity>
    </application>

</manifest>